[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
currencyconverter = "*"
matplotlib = "*"

[dev-packages]
pylint = "*"
mypy = "*"
black = "*"
bandit = "*"
types-python-dateutil = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.3"
